<section class="container">
  <div class="contact-text">
    <h2 class="text-h2 gradient-text">Get in touch</h2>
    <p class="paragraph">Have a project in mind? Looking to partner or work together? Reach out through the form and
      I'll get back to you in the next 48 hours.
    </p>
    <div class="navbar-social">
      <a class="social-icons" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a class="social-icons" href="#"><i class="fa-brands fa-github"></i></a>
      <a class="social-icons" href="#"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>

  <form action="">
    <div class="form-section">
      <label class="paragraph" for="name">Your Name</label>
      <input class="paragraph" type="text" name="name" id="name" placeholder="Enter your name">
    </div>

    <div class="form-section">
      <label class="paragraph" for="email">Your E-mail</label>
      <input class="paragraph" type="email" name="email" id="email" placeholder="Enter your e-mail">
    </div>

    <div class="form-section">
      <label class="paragraph" for="subject">Subject</label>
      <input class="paragraph" type="text" name="subject" id="subject" placeholder="Add a subject">
    </div>

    <div class="form-section">
      <label class="paragraph" for="subject">Your message</label>
      <textarea class="paragraph" name="subject" id="subject" placeholder="Tell me a bit more what you are looking for..."></textarea>
    </div>
    <button type="submit" class="btn-primary btn-gradient">SUBMIT NOW</button>
  </form>

</section>
