<section id="contact" class="container">
  <div class="contact-text">
    <h2 class="text-h2 gradient-text">{{ 'CONTACT.TITLE' | translate }}</h2>
    <p class="paragraph">{{ 'CONTACT.TEXT' | translate }}</p>
    <div class="navbar-social">
      <a class="social-icons" href="https://www.linkedin.com/in/marianasocastro/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a class="social-icons" href="https://github.com/marianasocastro" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a class="social-icons" href="#" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>

  <form action="">
    <div class="form-section">
      <label class="paragraph" for="name">{{ 'CONTACT.FORM_NAME' | translate }}</label>
      <input class="paragraph" type="text" name="name" id="name" placeholder="{{ 'CONTACT.FORM_NAME_PLACEHOLDER' | translate }}">
    </div>

    <div class="form-section">
      <label class="paragraph" for="email">{{ 'CONTACT.FORM_EMAIL' | translate }}</label>
      <input class="paragraph" type="email" name="email" id="email" placeholder="{{ 'CONTACT.FORM_EMAIL_PLACEHOLDER' | translate }}">
    </div>

    <div class="form-section">
      <label class="paragraph" for="subject">{{ 'CONTACT.FORM_SUBJECT' | translate }}</label>
      <input class="paragraph" type="text" name="subject" id="subject" placeholder="{{ 'CONTACT.FORM_SUBJECT_PLACEHOLDER' | translate }}">
    </div>

    <div class="form-section">
      <label class="paragraph" for="subject">{{ 'CONTACT.FORM_MESSAGE' | translate }}</label>
      <textarea class="paragraph" name="subject" id="subject" placeholder="{{ 'CONTACT.FORM_MESSAGE_PLACEHOLDER' | translate }}"></textarea>
    </div>
    <button type="submit" class="btn-primary btn-gradient">{{ 'CONTACT.BTN_SUBMIT' | translate }}</button>
  </form>

</section>
