<div class="carousel">
  <div class="colorfull-div"></div>
  <div class="gray-div"><p class="text-h4">Code <span class="gradient-text">•</span> Design
    <span class="gradient-text">•</span>  Innovate
    <span class="gradient-text">•</span>  Code <span class="gradient-text">•</span>  Design
    <span class="gradient-text">•</span>  Innovate <span class="gradient-text">•</span>  Code
    <span class="gradient-text">•</span>  Design <span class="gradient-text">•</span>  Innovate
    <span class="gradient-text">•</span>  Code <span class="gradient-text">•</span>  Design <span class="gradient-text">•</span>  Innovate <span class="gradient-text">•</span>
    Code <span class="gradient-text">•</span>  Design <span class="gradient-text">•</span></p>
  </div>
</div>


