<header>
  <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" id="video-bg">
    <source src= "../../../assets/videos/12955464-hd_1920_1080_24fps.mp4" type="video/mp4">
    Seu navegador não suporta vídeos HTML5.
  </video>
  <div class="overlay radial"></div>
  <app-navbar></app-navbar>
  <div class="header-content container">
    <div class="header-text">
      <h1 class="hero-text"><span class='gradient-text'>{{ 'HEADER.HELLO' | translate }}</span><br>{{ 'HEADER.ROLE' | translate }}</h1>
      <p class="paragraph">{{ 'HEADER.TEXT' | translate }}</p>
      <div class="btns">
        <button class="btn-primary btn-gradient"><a href="#projects">{{ 'HEADER.BTN_TALK' | translate }}</a></button>
        <button class="btn-secondary"><a href="#about">{{ 'HEADER.BTN_PROJECTS' | translate }}</a></button>
      </div>
    </div>
  </div>
</header>

