<header>
  <app-navbar></app-navbar>
  <div class="header-content container">
    <div class="header-text">
      <h1 class="hero-text"><span class="gradient-text">Hello, I'm Mariana,</span> Frontend Developer and UI Designer</h1>
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non nisl mollis, feugiat justo sed, cursus tortor.
        Nunc turpis arcu, sagittis ac odio et, tincidunt consectetur turpis.
      </p>
      <div class="btns">
        <button class="btn-primary btn-gradient"><a href="">GET IN TOUCH</a></button>
        <button class="btn-secondary"><a href="">VIEW MY PROJECTS</a></button>
      </div>
    </div>
    <div class="header-img">
      <!-- <img src="../../../assets/Mariana-Castro.jpg" alt="Mariana Castro's Photo"> -->
    </div>
  </div>
</header>

