@import '../../../styles.scss';

header{
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  app-navbar{
    z-index: 2;
    height: auto;
  }
  .header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 50px;
    width: 100%;
    z-index: 1;
    height: calc(100vh - 70px);
    .header-text{
      width: 81%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 16px;
      color: $color-white-primary;
      .btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 16px;
        justify-content: center;
      }
      .paragraph{
        width: 85%;
      }
    }
    .header-img {
      background-image: url('../../../assets/Mariana-Castro.jpg');
      background-size: cover;
      background-position: center;
      width: 50%; // Ajuste conforme necessário
      height: 400px; // Ajuste conforme necessário
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.radial{
  background: radial-gradient(circle, rgba(22, 21, 19, .7), rgba(22, 21, 19, .9));
}



@media (max-width: $breakpoint-md) {

  header{
    .header-content{
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
      .header-text{
        width: 80%;
      }
    }

  }

}

@media (max-width: $breakpoint-sm) {


  header{
    .header-content{
      .header-text{
        width: 100%;
      }

    }

  }



  .hero-text{
    font-size: 30px !important;
    line-height: 43px !important;
  }


}
