@import '../../../styles.scss';

.cards{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
  margin-top: 30px;

}

// .card-project{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: flex-start;
//   column-gap: 20px;
//   padding: 20px;
//   background-color: $color-black-secondary;
//   border-radius: $border-radius;
//   img{
//     width: 40%;
//     border-radius: 10px;
//   }
//   .card-text{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-start;
//     row-gap: 12px;
//     color: $color-white-primary;
//     .tags{
//       display: flex;
//       justify-content: flex-start;
//       column-gap: 10px;
//     }
//   }
// }


.btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  justify-content: center;

}

.card-project{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
  padding: 20px;
  background-color: $color-black-secondary;
  border-radius: $border-radius;
  height: 350px;
  img{
    width: 60%;
    border-radius: 10px;
  }
  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 12px;
    color: $color-white-primary;
    width: 40%;
    height: 100%;
    .paragraph{
      flex: 1;
    }
    .tags{
      display: flex;
      justify-content: flex-start;
      column-gap: 10px;
    }
  }
}


@media (max-width: $breakpoint-md) {

  .card-project{
    flex-direction: column;
    height: auto;
    row-gap: 12px;
    img{
      width: 100%;

    }
    .card-text{
      width: 100%;
    }
  }

}

@media (max-width: $breakpoint-sm) {

}









