<section id="projects" class="container">
  <h2 class="text-h2 gradient-text">{{ 'PROJECTS.TITLE' | translate}}</h2>

  <div class="cards">

    <div *ngFor="let project of projects" class="card-project">
      <img [src]= project.image alt="">
      <div class="card-text">
        <div  class="tags">
          <span *ngFor="let tag of project.tags" class="text-tags">{{tag}}</span>
        </div>
        <h3 class="text-h3">{{ project.name | translate}}</h3>
        <p class="paragraph">{{ project.about | translate}}
        </p>
        <div class="btns">
          <button class="btn-primary-small btn-gradient"><a [href]=project.url_browser target="_blank" >{{ 'PROJECTS.BTN_BROWSER' | translate}}</a></button>
          <button class="btn-secondary-small"><a [href]=project.url_github target="_blank">{{ 'PROJECTS.BTN_DETAILS' | translate}}</a></button>
        </div>
      </div>
    </div>

  </div>
</section>
